@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-white: #fff;
    --box-border-colour: #3D3E3E;
    --box-text-colour: #727374;
    --black-btn-colour: #000;
    --black-box-colour: #000;
    --black-to-grey-hover: rgb(214, 214, 214);
    --bg-dashboard: #f2f2f2;
    --almost-black: #151619;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

}

.dashboard_body{
    display: flex;
}



/* Side Panel */
.side_panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 12vw;
    background-color: #000;
    height: 95.5vh;
    color: white;
    padding: 1%;
    align-items: center;
}

.side_panel .item{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    /* border: 1px solid white; */
    padding: 12px 41px;
    padding-left: 50%;
    height: 2vh;
    transition: all 1s;
    cursor: pointer;
}

.side_panel .item:last-child{
    margin-top: auto;
    margin-bottom: 20%;
}


/* Content */

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: aqua;
}



/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: auto;
    border: 1px solid black;
}
.navbar .nav_left{
    display: flex;
}

.navbar .nav_right{
    margin-left: auto;
}









/* Dasboard Content */

.dbd_content{
    background-color: var(--bg-dashboard);   
    height: 100%;
    width: auto;
    border: 1px solid black;
}

























/* Hover */


.side_panel .item:hover {
    background-color: #fff;
    color: black;
}
