{% extends 'base.html' %}
{% block body %}

<main class="clg_content">
    <div class="clg_nav">
        <div>Borrowed Books</div>
        <div>Overdue Borrowers</div>
        <div class="clg_search">
            <img src="images/icon/search-normal.svg" alt="">
            <input type="text" placeholder="Search by ID">
        </div>
    </div>
    <div class="clg_data">
        <table>
            <thead>
                <th>ID</th>
                <th>User ID</th>
                <th>Amount</th>
                <th>Due Date</th>
                <th>Date & Time</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for catalog in allCatalogs %}
                    
                <tr>
                    <th>{{catalog.id}}</th>
                    <td>{{catalog.user_id}}</td>
                    <td>{{catalog.amount}}</td>
                    <td>{{catalog.due_date}}</td>
                    <td>{{catalog.due_time}}</td>
                    <td><img src="{{ url_for('static', filename='images/icon/btn view.svg') }}" alt=""></td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</main>
{% endblock body %}