{% extends 'base.html' %}
{% block body %}

<main class="clg_content">
    <div class="clg_nav">
        <div>Borrowed Books</div>
        <div>Overdue Borrowers</div>
        <div class="clg_search">
            <img src="images/icon/search-normal.svg" alt="">
            <input type="text" placeholder="Search by ID">
        </div>
    </div>
    <div class="clg_data">
        <table>
            <thead>
                <th>ID</th>
                <th>User ID</th>
                <th>Amount</th>
                <th>Due Date</th>
                <th>Date & Time</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr>
                    <th>001</th>
                    <th>001</th>
                    <th>20</th>
                    <th>02-08-2025</th>
                    <th>25-02-2024 10:39:36</th>
                    <th><img src="images/icon/btn view.svg" alt=""></th>
                </tr>
                <tr>
                    <th>001</th>
                    <th>001</th>
                    <th>20</th>
                    <th>02-08-2025</th>
                    <th>25-02-2024 10:39:36</th>
                    <th><img src="images/icon/btn view.svg" alt=""></th>
                </tr>
                <tr>
                    <th>001</th>
                    <th>001</th>
                    <th>20</th>
                    <th>02-08-2025</th>
                    <th>25-02-2024 10:39:36</th>
                    <th><img src="images/icon/btn view.svg" alt=""></th>
                </tr>
                <tr>
                    <th>001</th>
                    <th>001</th>
                    <th>20</th>
                    <th>02-08-2025</th>
                    <th>25-02-2024 10:39:36</th>
                    <th><img src="images/icon/btn view.svg" alt=""></th>
                </tr>
                <tr>
                    <th>001</th>
                    <th>001</th>
                    <th>20</th>
                    <th>02-08-2025</th>
                    <th>25-02-2024 10:39:36</th>
                    <th><img src="images/icon/btn view.svg" alt=""></th>
                </tr>
                <tr>
                    <th>001</th>
                    <th>001</th>
                    <th>20</th>
                    <th>02-08-2025</th>
                    <th>25-02-2024 10:39:36</th>
                    <th><img src="images/icon/btn view.svg" alt=""></th>
                </tr>
                <tr>
                    <th>001</th>
                    <th>001</th>
                    <th>20</th>
                    <th>02-08-2025</th>
                    <th>25-02-2024 10:39:36</th>
                    <th><img src="images/icon/btn view.svg" alt=""></th>
                </tr>
                <tr>
                    <th>001</th>
                    <th>001</th>
                    <th>20</th>
                    <th>02-08-2025</th>
                    <th>25-02-2024 10:39:36</th>
                    <th><img src="images/icon/btn view.svg" alt=""></th>
                </tr>
            </tbody>
        </table>
    </div>
</main>
{% endblock body %}