<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookWorm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="fgt_side black_box_left">
        <div class="logo_library"><img src="{{ url_for('static', filename='images/logo lib.png') }}" alt=""></div>
        <p>"Your premier digital library for borrowing and reading books"</p>
    </div>

    
    <main class="fgt_psswd white_box_right">
        <a href="index.html" class="back_right">Back</a>
        <div class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt=""></div>
        <h1 class="title_of_page">Forgot Password</h1>
        <h5 class="title_caption">Please enter your username</h5>
        <input type="text" id="username" class="username" required placeholder="Username">
        <button class="black_btn" onclick="window.location.href='/admin_otp_form'">Reset Password</button>
    </main>
</body>
</html>