{% extends 'base.html' %}
{% block body %}

<main class="users_content bk_content">
    <div class="bk_nav users_nav">
        <h2>Users Management</h2>
        <a class="add_bk" href="/add_user">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16 12.75H12.75V16C12.75 16.41 12.41 16.75 12 16.75C11.59 16.75 11.25 16.41 11.25 16V12.75H8C7.59 12.75 7.25 12.41 7.25 12C7.25 11.59 7.59 11.25 8 11.25H11.25V8C11.25 7.59 11.59 7.25 12 7.25C12.41 7.25 12.75 7.59 12.75 8V11.25H16C16.41 11.25 16.75 11.59 16.75 12C16.75 12.41 16.41 12.75 16 12.75Z"
                    fill="currentColor" />
            </svg>

            <div>Add User</div>
        </a>
        <div class="bk_search">
            <img src="{{ url_for('static', filename='images/icon/search-normal.svg') }}" alt="">
            <input type="text" placeholder="Search by ID or Name">
        </div>
    </div>
    <div class="bk_data user_data">
        <table>
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for user in allUsers %}
                    
                <tr>
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.username}}</td>
                    <td>
                        <a href="/update_user/{{user.id}}"><img src="{{ url_for('static', filename='images/icon/btn edit.svg') }}" alt=""></a>
                        <a href="/delete/{{user.id}}/User"><img src="{{ url_for('static', filename='images/icon/btn Delete.svg') }}" alt=""></a>
                        <a href="/view_user/{{user.id}}"><img src="{{ url_for('static', filename='images/icon/btn view (1).svg') }}" alt=""></a>
                    </td>
                </tr>
                {% endfor %}
                
                
            </tbody>
        </table>
    </div>
</main>
{% endblock body %}