{% extends 'popups/add base.html' %}
{% block add_user %}add_user
{% endblock add_user %}

{% block box %}
    
<div class="adb_head">
    <div class="book_img">
        <img src="{{ url_for('static', filename='images/icon/people 3.svg') }}" alt="">
    </div>
    <h4>Update User</h4>
    <img class="adb_exit" src="{{ url_for('static', filename='images/icon/close-square 1.svg') }}" alt="">
</div>
<hr>
<div class="adb_inputs adu_inputs">
    <input type="text" placeholder="Name" id="adb_name" name="name" value="{{user.name}}">
    <input type="email" placeholder="Email" id="adb_lang" name="email" value="{{user.email}}">
    <div class="adu_type_qty">
        <input type="text" placeholder="Username" id="adb_type" name="username" value="{{user.username}}">
        <input type="password" placeholder="Password" id="adb_qty" name="password">
    </div>
</div>
{% endblock box %}
{% block add_base_cancel %}
/users
{% endblock add_base_cancel %}

{% block add_base_url %}
/update_user/{{user.id}}   
{% endblock add_base_url %}