{% extends 'popups/add base.html' %}
{% block box %}

<div class="adb_head">
    <div class="book_img">
        <img src="/images/icon/book-1 1.svg" alt="">
    </div>
    <h4>View Book</h4>
    <img class="adb_exit" src="/images/icon/close-square 1.svg" alt="">
</div>
<hr>
<div class="disp_book">
    <div class="dbook_info">
        <div>Book ID: 1</div>
        <hr>
        <div>Name: Hibernate - Core</div>
        <hr>
        <div>Type: English</div>
        <hr>
        <div>Language: English</div>
        <hr>
    </div>
    <img src="/images/icon/Line 25.svg" alt="">
    <div class="dbook_saved_by">
        Saved by:
        <br>
        <br>
        Nisal Gunasekara
        <br>
        (Admin)
    </div>
</div>
<div class="adb_footer vb_footer">
    <div>CLOSE</div>
</div>

{% endblock box %}